/* Links
--------------------------------------------- */

.external-link:after,
.email-link:before,
.pdf-link:before,
.doc-link:before {
	margin: 0 4px;
	white-space: nowrap;
	font-family: FontAwesome;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
	display: inline;
}

.external-link:after {
	content: "\f08e";
}

.email-link:before {
	content: "\f003";
}

.pdf-link:before {
	content: "\f1c1";
}

.pdf-link:after {
	display: none;
}

.doc-link:before {
	content: "\f1c2";
}

.menu .external-link:after {
	display: none;
}

.image-link,
.image-link:hover {
	border-bottom: none !important;
	text-decoration: none !important;
}

.image-link:before,
.image-link:after {
	display: none;
}

/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.mmj-skip-link {
 margin: 0;
}
.mmj-skip-link li {
 height: 0;
 width: 0;
 list-style: none;
}
/* Display outline on focus */
:focus {
 color: #333;
 outline: #ccc solid 1px;
}

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}
