/* Main Nav */
ul.sf-menu.dropdownJavascript li.sfHover > ul.sub-menu {
  display: block !important;
  z-index: 10;
  top: 100% !important;
}

a:focus,
body label:focus {
	border: 1px solid #d1d1d1;
}